.Nav {
  background-color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 1rem;
}

.Nav a:link,
.Nav a:visited {
  color: var(--color-black);

  font-size: 1.5rem;
  text-decoration: none;
}

.Nav > div {
  position: relative;
}

.Nav--underline-projects {
  border-color: var(--color-black);
  /* width: 5.8rem; */
}

.Nav--underline-connect {
  border-color: var(--color-black);
  /* width: 6rem; */
}
