.Projects--container {
  background-color: var(--color-black);
  color: var(--color-white);
}

.Projects {
  /* background-color: darkgrey; */

  display: flex;
  flex-direction: column;
  gap: 50rem;

  max-width: 120rem;
  min-width: 120rem;

  margin: 0 auto;
  padding: 15rem 0;
}

.Projects--meta-container {
  /* background-color: darkcyan; */

  position: relative;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3rem;

  /* TODO: Utility property */
  /* flex-direction: row-reverse; */

  padding: 0 1rem;
}

.Projects--text-container {
  /* background-color: darkolivegreen; */

  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* min-width: 57.5rem; */
  /* max-width: 57.5rem; */
  min-width: 45rem;
  max-width: 45rem;

  padding: 1rem;
  padding-left: 0;
}

.Projects--name {
  font-size: 4.5rem;
}

.Projects--description {
  font-size: 1.8rem;
}

.Projects--roles-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  margin-top: auto;
}

.Projects--roles-container > p {
  font-size: 1.8rem;
}

.Projects--roles {
  list-style-position: inside;
}

.Projects--visual-container {
  position: relative;

  min-width: 66.985rem;
  height: 35rem;

  overflow: hidden;
}

.Projects--img-container {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 66.985rem;
  height: 35rem;

  overflow: hidden;

  transition: transform 0.6s;
}

.Projects--img {
  width: auto;
  height: 35rem;
}

.Projects--arrow-btn {
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  background: none;
  border: none;
  border-radius: 1000px;

  transition: opacity 0.3s;
}

.Projects--arrow-btn:hover {
  cursor: pointer;
}

.Projects--arrow-btn-left {
  left: 37%;
  top: 50%;
  transform: translate(50%, -50%);

  opacity: 0;
  pointer-events: none;
}

.Projects--arrow-btn-right {
  right: 0;
  top: 50%;
  transform: translate(-30%, -50%);

  opacity: 0;
  pointer-events: none;
}

.Projects--arrow-btn > svg {
  color: var(--color-white);

  width: 2.5rem;
  height: 2.5rem;
}

.Projects--arrow-btn-active {
  opacity: 1;
  pointer-events: auto;
}
